.node-card {
}
.node-header {
  color: black;
  text-align: center;
  border-radius: 5 5 0 0;
}

.node-header:hover {
  background-color: cyan;
}

.fi {
  border-radius: 15px;
}

.node-body > *:not(form) {
  pointer-events: none;
}
