.shader-module-descriptor {
  width: 40rem;
  height: 40rem;
  background-color: #2a2a2a;

  textarea {
    width: 40rem;
    height: 40rem;
    outline: none;
    border: none;
    background-color: #2a2a2a;
    line-height: 1.25rem;
    color: white;
  }
}
