.receiver {
  height: 2rem;

  .receiver-icon {
    position: absolute;
    height: .625rem;
    width: .75rem;
    border-radius: .375rem;
    border: .125rem solid yellow;
    left: -.5rem;
    z-index: 99;
  }
  .receiver-label {
    margin-left: .75rem;
  }
}
