.receiver {
  height: 2rem;

  .receiver-icon {
    position: absolute;
    height: 0.625rem;
    width: 0.75rem;
    border-radius: 0.375rem;
    border: 0.125rem solid yellow;
    left: -0.5rem;
    z-index: 99;
  }

  .receiver-label {
    margin-left: 0.75rem;
  }
}
