* {
  font-family: "Roboto", sans-serif;

  &::-webkit-scrollbar {
    z-index: 1;
    width: 0.75rem;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-width: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.35);
  }
  &::-webkit-resizer {
    width: 16px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.row {
  display: flex;
}

//input {
//  border: none;
//  width: 100%;
//  background-color: rgba(0, 0, 0, 0);
//  color: white;
//}

input:focus,
select:focus {
  outline: none;
}
